<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/hash.css" />
    <!-- font Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>CryptoSecure</title>
  </head>
  <body>
    <div class="contenedor_general">
      <!-- menu -->
      {% include 'menu.html' %}

      <!-- contenedor generico -->
      <div class="contenedor">
        <div class="contenedor_btn" onclick="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#e3e3e3"
          >
            <path
              d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-240h560v-400H200v400Zm0 80v80h560v-80H200Zm0 0v80-80Z"
            />
          </svg>
        </div>

        <div class="contenedor_hijo">
          <div class="contenedor_central">
            <div class="contenedor_btns">
              <button class="hash-btn-selector" data-algoritmo="md5">
                MD5
              </button>
              <button class="hash-btn-selector" data-algoritmo="sha1">
                SHA-1
              </button>
              <button class="hash-btn-selector" data-algoritmo="sha256">
                SHA-256
              </button>
              <button class="hash-btn-selector" data-algoritmo="sha512">
                SHA-512
              </button>
            </div>

            <div class="hash-panel">
              <div class="hash-panel-title" id="hash-title">Hash MD-5</div>
              <label for="textoahash">Texto a aplicar hash</label>
              <textarea
                id="textoahash"
                placeholder="Ingrese texto..."
              ></textarea>
              <button type="button" id="btn-hash" class="hash-btn">
                Aplicar Hash
              </button>

              <label for="resultadohash">Resultado</label>
              <textarea
                id="resultadohash"
                rows="2"
                placeholder="Resultado del hash"
                readonly
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      let btn_popup_menu = document.querySelector(".contenedor_btn");
      let menu = document.querySelector(".menu");

      btn_popup_menu.onclick = () => {
        menu.classList.toggle("hiddenMenu");
      };
    </script>

    <script src="../static/js/hash.js"></script>
  </body>
</html>
